<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAao2r1J8zLU8hPr_EkgMyqwNAhcXh2Lwo</string>
	<key>GCM_SENDER_ID</key>
	<string>377505654761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codelooms.storage</string>
	<key>PROJECT_ID</key>
	<string>my-storage-fb-project</string>
	<key>STORAGE_BUCKET</key>
	<string>my-storage-fb-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377505654761:ios:1e4877cf35fbd7a4d98d78</string>
</dict>
</plist>