<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBXgs6Ld9X8YEmzTQUljBntp1JJL6VFexM</string>
	<key>GCM_SENDER_ID</key>
	<string>847933056197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codelooms.firestore</string>
	<key>PROJECT_ID</key>
	<string>my-fstore-project</string>
	<key>STORAGE_BUCKET</key>
	<string>my-fstore-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847933056197:ios:7ef4990e708cd093a23cac</string>
</dict>
</plist>